{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}

{% block content %}
            <h1 class="">Ваш профиль</h1>
            <h3 class="">Добро пожаловать, {{ user.username }}!</h3>
                {% if user.get_profile_image_url %}
                    <img src="{{ user.get_profile_image_url }}" alt="Профильное изображение">
                {% else %}
                    <img src="{% static 'main/img/profile_img/default_profile_image.png' %}" alt="Профильное изображение">
                {% endif %}
            <p class="">Имя: {{ user.first_name }}</p>
            <p class="">Фамилия: {{ user.last_name }}</p>
            <a class="" href="{% url 'user_logout' %}" >Выйти</a>

{% endblock %}
